{% extends 'EnsJobeetBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <h1>{% trans %}job.creation{% endtrans %}</h1>
    {% include 'EnsJobeetBundle:Job:form.html.twig' with {'form': form, 'params': {'method': 'POST', 'action':  path('ens_job_create')}} %}
{% endblock %}